<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REJA ENG SONGGI</title>
    <link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" 
    crossorigin="anonymous">
    />

</head>
<body style="background-color: black;">
    <div class="container ">
        <h1 class=""display-4 text-center text-white mt-4">HARID</h1>
<div class="jumbotron p-3 shodow-sm">
    <form id="haridForm" action="/harid" method="POST">
        <div class="form-group">
            <label for="mahsulotNomi">Mahsulot Nomi:</label>
            <input type="text" class="form-control" id="mahsulotNomi" name="mahsulotNomi" required>
        </div>
        <div class="form-group">
            <label for="miqdor">Miqdor:</label>
            <input type="number" class="form-control" id="miqdor" name="miqdor" required>   
</div>
        </div>  

</body>
        
</html>